html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#app {
  width: 100%;
  height: 100%;
}

#navbar {
  width: 100%;
  height: 50px;
}

#create-event-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#event-preview {
  width: 500px;
  height: 100%;
}

#create-event-form {
  flex: 1;
  height: 100%;
}
