:root {
  --color-4: #ffa500;
  --color-2: #6981a1;
  --color-3: #fc7a00;
  --color-1: #82a2cc;
  --color-5: rgb(231, 231, 231);
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: black;
  font-family: Rubik;
}

#app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#app {
  width: 100%;
  height: 100%;
}

#create-event-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#event-preview {
  width: 500px;
  height: 100%;
}

#create-event-form {
  flex: 1;
  height: 100%;
}

button {
  border-radius: 150px !important;
}

.file-picker {
  display: none !important;
}

.file-button {
  background-color: var(--color-1);
  width: auto;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  margin: 0;
  width: auto;
  height: auto;
}

#navbar {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--color-1);
  align-items: center;
}

.navbar-item {
  background-color: var(--color-2);
  height: 75%;
  margin-right: 10px;
}

#discover-page {
  background-color: var(--color-5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#other-events {
  flex: 3;
}

#common-events {
  flex: 2;
  display: flex;
  flex-direction: column;
}

#hot-events {
  box-sizing: border-box;
  flex: 1;
}

#new-events {
  box-sizing: border-box;
  flex: 1;
}

.grid-item {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.grid-item-2 {
  width: 100%;
  height: 100%;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.grid-item-3 {
  width: 100%;
  height: 100%;
  padding-right: 20px;
  padding-bottom: 20px;
}

.inner-item {
  background-color: var(--color-4) !important;
  height: 100%;
}

.events-titles {
  font-size: 24px;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  text-decoration: underline;
}

#personal-created-events-page {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
}

#personal-created-events-page-container {
  flex: 1;
  background-color: var(--color-1);
}

#landing-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-5);
}

#landing-page-content {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
}

#landing-page-left {
  padding-left: 60px;
  width: 400px;
}

#landing-page-left-content {
  background-color: var(--color-4);
  height: 100%;
  text-align: center;
}

#landing-page-right {
  height: 100%;
  flex: 2;
}

#landing-page-title {
  color: white;
  margin-top: 0;
  font-size: 24px;
  padding: 10px;
}

.landing-page-button {
  font-size: 20px;
  background-color: var(--color-3);
  width: 90%;
}

#landing-page-navbar {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--color-1);
  align-items: center;
}

.margin-2 {
  margin: 5px;
  font-size: 20px;
}
#register {
  max-height: 100%;
}
#login,
#register {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: black;
}

.login-button {
  background-color: var(--color-4);
}

label.active {
  font-size: 15px !important;
}

#registertext {
  margin-bottom: 40px;
  text-align: center;
  color: var(--color-1);
}
#stoqn {
  color: var(--color-1);
  font-size: 10px;
}
